<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up or log in</title>
    </head>
    <body>
        <h1>Type in your email to retrieve password</h1>
        <p th:if="${message != null}" th:text="${message}" /> 
        <form action="#" th:action="@{/forgotpassword}" method="POST">
            <p><label for="email">Name</label>: <input type="text" name="email" id="email"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        <p></p>
    </body>
</html>